@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,100italic,300italic);
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul {
    margin: 0px;
}

h1 {
    font-size: 2em;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    color: #0bc5d8;
}

a:hover {
    color: #ea6e39;
}

a:visited {
    color: #aaaaaa;
}

a:active {
    color: #ff0000;
}

.fp-video,
.ft-article,
.menu-item {
    display: inline-block;
}


/*Width of page*/

.container {
    margin: 0px auto;
    max-width: 1024px;
}


/*Logo*/

.logo {
    margin: 25px;
    text-align: center;
}


/*Position and styles of menu*/

nav {
    background-color: #2e353e;
    text-align: center;
}

.menu-item {
    text-transform: uppercase;
}

.menu-item:hover {
    background-color: #0bc5d8;
}

.menu-item a {
    color: #ffffff;
    text-decoration: none;
}

.menu-item a div {
    padding: 20px;
}


/*Featured section's styles*/

.featured {
    background-color: #f2f2f2;
}

.fp-video {
    padding: 2em;
    vertical-align: top;
    width: 55%;
}

.ft-article {
    padding: 2em;
    vertical-align: top;
    width: 30%;
}


/*Styles of botons*/

.boton-container {
    background-color: #ea6e39;
    margin: 0px auto;
    text-align: center;
}

.boton-container:hover {
    background-color: #1fbea4;
}

.boton-container a {
    color: #ffffff;
    text-decoration: none;
}

.boton {
    padding: 15px;
}


/*Styles for the articles list*/

article {
    background-color: #f2f2f2;
    margin: 20px 0;
    padding: 30px;
}

.art-image {
    display: inline-block;
    margin-right: 10px;
    width: 210px;
}

.art-content {
    display: inline-block;
    vertical-align: top;
    width: 730px;
}

figcaption {
    background-color: #1fbea4;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

article h1 {
    border-bottom: 1px solid #000;
}


/*Footer's styles*/

footer {
    background-color: #2e353e;
    color: #ffffff;
    line-height: 30px;
    padding: 45px;
    text-align: center;
}


/*RESPONSIVE STYLES*/


/*Smartphones styles*/

@media all and (max-width: 767px) {
    .container {
        width: 100%;
    }
    .menu-item {
        display: initial;
    }
    .menu-item a div {
        border-bottom: 1px solid #ffffff;
    }
    nav ul {
        padding: 0px;
    }
    .featured {
        padding: 0 10px;
    }
    .fp-video {
        display: initial;
        padding: 0px;
        width: 100%;
    }
    .ft-article {
        display: initial;
        margin: 10px 0;
        padding: 0 30px;
        vertical-align: initial;
        width: 100%;
    }
    .art-image,
    .art-content {
        display: initial;
        text-align: center;
        width: 100%;
    }
}


/*Tablet Portrait styles*/

@media all and (min-width: 768px) and (max-width: 1023px) {
    .art-image {
        width: 240px;
    }
    .art-content {
        width: 430px;
    }
    .fp-video {
        float: right;
        padding: 1em;
        width: 53%;
    }
    .ft-article {
        font-size: 0.9em;
        margin: 0px;
        padding: 10px;
        width: 38%;
    }
    .ft-article h1 {
        font-size: 2em;
    }
}


/*Tablet Landscape styles*/

@media all and (min-width:1024px) and (max-width: 1385px) {
    .art-image {
        width: 210px;
    }
    .art-content {
        width: 700px;
    }
}